.main-navigation {
  width: 100%;
  min-height: 52px;

  margin-bottom: 10px;
  border-bottom: 1px black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 24px;
  
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-left: 40px;

    .content {
      cursor: pointer;
      padding: 0px 12.5px;
      word-spacing: -6px;
    }
  }

  .main-support {
    display: flex;
    align-items: center;
    text-align: center;

    padding-right: 40px;
  }
}

.main-navigation + .navigation-line {
  position: relative;
  min-height: 1px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;
  margin: 0px 40px;

  .horizontal-line {
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
}