.main-recommandation {
  padding-top: 30px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .title-container {
    width: 100%;

    .title {
      padding-left: 5.5%;
      font-family: "Habibi";
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: left;
      vertical-align: middle;
    }
  }

  .content {
    width: 90%;
    margin-top: 20px;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}