@use "@/styles/global" as global;

.object-recommandation-object {
    @include global.hover_zoom(1.05);
    
    position: relative;
    min-width: 362px;
    height: 466px;

    display: flex;
    flex-direction: column;
    background: #FAF9F7;
    overflow: hidden;
    border: 1px solid rgba($color: #000000, $alpha: 0.33);
    border-radius: 12px;

    margin: 0px 20px;
    box-sizing: content-box;
    
    .object-image { 
        width: 100%;
        height: 368px;
    }

  .object-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;

    .object-title {
      padding-left: 20px;

      font-family: "Habibi";
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: left;
      vertical-align: middle;
    }

    .object-price {
      padding: 10px 0px 0px 20px;

      font-family: "Encode Sans Semi Condensed";
      font-weight: 400;
      font-style: normal;
      font-size: 25px;
      line-height: 100%;
      letter-spacing: 10%;
      text-align: left;
      vertical-align: middle;
    }
  }
}