.main-header-logo {
    cursor: pointer;
    border-width: 1px;
    opacity: 1;

    font-family: "Habibi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 0px 4px rgba($color: #000000, $alpha: 0.25);
}