.signin {
  position: relative;
  width: 100%;
  height: 100%;

  .sign-header {
    width: 100%;
    height: 77px;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .main-header-logo {
      cursor: pointer;
    }
  }

  .signin-container-outer {
    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signin-container-inner {
      position: relative;
      width: 400px;
      top: 95px;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .login-title {
        font-family: "Inter";
        font-weight: 700;
        font-style: Bold;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0%;
      }
  
      .user-id-input-box { margin-top: 30px; }
      .input-box {
        width: 400px;
        margin-top: 20px;
      }
  
      .auto-login-container-outer {
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        .auto-login-container-inner {
          cursor: pointer;

          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          
          margin-top: 10px;
  
          .auto-login-check-box {
            width: 40px;
            height: 40px;
          }
        }
      }

      .login-submit {
        cursor: pointer;
        width: 400px;
        height: 56px;
        border-radius: 10px;
        
        margin-top: 20px;

        font-family: "Inter";
        font-weight: 700;
        font-style: Bold;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
            
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
      }
      
      .no-id-text {
        margin-top: 35px;

        font-family: "Inter";
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
      }

      .signup {
        cursor: pointer;
        width: 400px;
        height: 56px;
        border-radius: 10px;
        
        margin-top: 12.5px;

        font-family: "Inter";
        font-weight: 700;
        font-style: Bold;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
            
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      }
    }
  }
}